body {
    font-family: 'Saira', sans-serif;
}

.default-padding{
    padding: 0 15vw;
}

.container-default {
    display: block;
    padding:0 15vw;
}

footer {
    bottom:0;
    left:0;
    width:100%;
    height: 120px;
    background-color: #5333A5!important;
}

main {
    min-height: 70vh;
}

.main{
    background-color: #274AC6;
    height: 27vh;
    position: relative;
    z-index: 1;
}

.loggedNavbar {
    position: absolute;
    z-index: -1;
    display: table;
    width: 100%;
    height: 27vh;
    color: white;
    background: url('../images/bg-logged.png') no-repeat bottom center scroll;
    opacity:0.7;
    background-position: 30% 45%;
    background-size: cover;
    margin:0!important;
}

.logo {
    width: 3.2em;
}

.logo-footer {
    width: 2.8em;
    height: 2.8em;
    margin-right: 10px;
}

.text-footer {
    font-size:25px;
    margin: 0!important;
    font-weight: bold;
}

.link-footer > a {
    font-size:23px;
    margin-left: 25px;
}

.link-footer a:hover {
    text-decoration: none;
}

.navbar-transparent {
    background-color:transparent!important;
    box-shadow: none!important;
    padding: 4vh 15vw 15vh 15vw;
}

.item-navbar {
    color: #fff!important;
    font-size: 1.5rem;
}

.item-navbar:hover {
    background-color:transparent;
}

.avatar {
    width: 150px;
}

.avatar-div {
    position: absolute;
    margin-right: -75px;
    right: 50vw;
    bottom: -75px;
    display: inline-block;
    color: #fff;
    overflow: hidden;
    z-index: 1;
    width: 150px;
    height: 150px;
    line-height: 150px;
    padding: 0;
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
    vertical-align: middle;
}

.icon-title {
    font-size:2rem;
    color: #8B64EC;
    margin-right: 1vw;
}

.menu-title {
    font-size:28px;
    color: #8B64EC;
    font-weight: bold;
    padding-left:0;
}

.progress {
    height:13px!important;
    margin:0!important;
    border:.5px solid white;
    border-radius: 10px!important;
    background-color: #ccc!important;
}

.progress .determinate {
    background-color: #a9d49c!important;
}

table.striped>tbody>tr {
    background-color: #fff!important;
    border: 1px solid rgba(0,0,0,0.12);
}

tr.row {
    margin:0;
}

.mission-text {
    color: #565656;
    font-size: 20px;
    font-weight: 500;
}

td, th {
    padding: 10px 30px!important;
}

.btn-home{
    background-color:#8C63F2!important;
    border: 3px solid white!important;
    font-size: 16px!important;
    text-align: center!important;
    font-weight: bold;
}

.fa-crown, .fa-fire {
    margin:-3px; /* Esse valor precisa ser o mesmo que tem na border de btn-home, porém negativo*/
    font-size:20px!important;
}

.stats-user{
    font-size:25px;
    font-weight:bold;
    margin:0 30px 0 10px;
}

.btn-xp{
    font-size: 18px;
    margin:0;
    padding-top:8px;
    font-weight: bold;
}

.sub-title {
    font-size:18px;
    font-weight: bold;
    color: #5D5D5D;
}

.simple_link:hover{
    color:#fff;
    text-decoration: none;
}

.black_simple_link:hover{
    color:#000;
    text-decoration: none;
}

.update-icon{
    font-size:20px;
    margin-left: 10px;
    color:#aaaaaa
}

.dropdown-home-layout{
    margin-left: 0px;
    background-color:transparent!important;
    box-shadow:none!important;
    border: 2px solid white!important;
    border-radius: 10px!important;
    font-weight:600;
    background-color: rgba(255,255,255,0.2)!important;
}

.dropdown-home-layout:hover{
    text-decoration: none;
    color: #fff;
    background-color: rgba(255,255,255,0.4)!important;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 20px;
    color: #5B83F7!important;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    font-weight: 500;
}
#dropdown-logged{
    border-radius: 10px!important;
}

nav ul a:hover {
    background-color: rgba(174, 87, 255, 0.1);
    text-decoration: none;
}

.imagem{
    border-radius: 100%;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.25));
    /* border-radius: 86px; */
}
.imagem1{
    width: 167px;
    height: 167px;
    margin:auto;
    margin-top: 50px;
    display: block;
}
.imagem2 {
    width: 115px;
    height: 115px;
}
.imagem3{
    width: 90px;
}
.backgroundRankingSemanal{
    background: #8B64EC;
    box-shadow: inset 0px 0px 100px 25px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.tituloRankingSemanal{
    text-align:center;
    font-weight: bold;
    font-size: 26px;
    line-height: 47px;
    color: #FFFFFF;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.imgTituloRankingSemanal{
    width: 42px;
    height: 42px;
    margin-left: 15px;
    margin-top: -5px;
}
.backSelect{
    width: 333px;
    height: 42px;
    margin:auto;

    background: #5333A5;
    border-radius: 5px;
}


.buttonsRankingSemanal{
    width: 49%;
    height: 97%;
    font-weight: bold;
    font-size: 19px;
    line-height: 35px;
    color: #FFFFFF;
}

.buttonSelectedRankingSemanal{
    background: #8B64EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.coroa {
    position: absolute;
    width: 106.39px;
    /* height: 125px; */
    margin-left: 161px;
    margin-top: -216px;
    transform: rotate(-1.69deg);
}
.backPremiacao{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    text-align: center;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.premiacaoFirst{
    margin-top: -40px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
    background: #D9FF3F;
    border: 3px solid #F0FF43;
    color:#A7B938;
}
.premiacaoSecond{
    background: #BABABA;
    border: 2px solid #C9C9C9;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 10px rgb(0 0 0 / 25%);
    font-weight: bold;
    font-size: 28px;
    line-height: 45px;
    color: #E8E8E8;
    margin-top: -39px;
    margin-left: 16px;
}
.premiacaoThird{
    margin-top: -38px;
    margin-left: 18px;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
    background: #E7A23C;
    border: 3px solid #F0FF43;
    color: #FCD499;
}
.textoRankingPremiacao{
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textoFirst {
    text-align: center;
    font-size: 28px;
    margin-bottom: 8px;
    margin-top: 1px;
}
.section3{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.section4{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.FinalPremiacao{
    text-align: center;
    margin-top: 24px;
    font-family: Saira;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.textoRanking{
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

/* Projeto Final */
.tituloProjetoFavorito{
    display: flex;
}
.textoProjetoFavorito{
    font-family: Saira;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 63px;
    color: #8B64EC;
    width: 385px;
    margin-top: -12px;
    margin-left: 11px;
}

.boxProjetoFavorito{
    display: flex;
    width: 100%;
    height: 191px;
    background: #FFFFFF;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.retanguloCor{
    width: 7px;
    height: 191px;
    background: #F7DF1E;
    border-radius: 5px;
}
.conteudoBoxProjetoFavorito{
    margin: auto;
    height: 275px;
}
.headerBoxConteudo {
    display: flex;
    margin-left: -20px;
    margin-top: 4px;
}
.imagemBoxHeader{
    width: 92px;
height: 92px;
/* background: url(download.png); */
border: 5px solid #FCFCFC;
box-sizing: border-box;
filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.25));
border-radius: 112.5px;
}
.textoBoxHeader{
    font-family: Saira;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 44px;
    color: #5D5D5D;
    margin-left: 20px;
}
.commits{
    width:75%;
}
.bodyBoxConteudo {
    display: flex;
    margin-top: 22px;
    margin-left: -15px;
}
.textoBodyBoxConteudo{
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    color: #5D5D5D;
}
.bolasCommitsBodyBox{
    display: flex;
    justify-content: space-evenly;
    width: 210px;
}
.bolaBodyBox{
    width: 12px;
    height: 12px;
    background: #A3FFA1;
    border-radius: 10px;
    /* Cinza: #C8C8C8; */
    /* Verde: #A3FFA1; */
}
.btnBodyBoxConteudo{
    width: 132px;
    height: 37px;
    background: #E7975A;
    border-radius: 5px;

    font-family: Saira;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin: auto;
}

.toast-success{
    background-color: #3BA146!important;
}

.toast-error{
    background-color: #D95E52!important;
}
.apagada {
    background-image: url('http://www.biblecast.net.br/resources/estrela-prata.png');
    width: 16px;
    height: 32px !important;
    cursor: pointer;
}
.apagada::before {
    border: none !important;
}
.star {
    background-image: url('http://www.biblecast.net.br/resources/estrela.png');
    width: 16px;
    height: 32px !important;
    cursor: pointer;
    position: absolute;
}
.star::before {
    border: none !important;
}

.missions_list > tbody > tr > td, .missions_list > tbody > tr > th {
    padding: 20px 30px!important;
    font-size: 15px;
    font-weight: 500;
}

.newpurple{
    background-color: #8b64ec!important;
}

.badge-ativa{
    background-color: #8b64ec!important;
    font-size:15px!important;
    font-weight:500!important;
}

.badge-inativa{
    background-color: #fb6155!important;
    font-size:15px!important;
    font-weight:500!important;
}

.mission_name{
    font-size: 18px;
    text-transform: capitalize;
    color: #565656;
}

.np{
    padding:0!important;
}

.nm{
    margin:0!important;
}

.newred{
    background-color: #fb6155 !important;
}

.th-switch{
    height: 80px!important;
}

.nmt{
    margin-top: 0!important;
}

.truncate-custom{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-performance{
    font-size: 40px!important;
}

.circle-performance{
    /* border: 5px solid #46C86B; */
    box-shadow: inset 0px 0px 10px #8d8d8d;
    min-width:80px;
}

.card-performance{
    height:260px;
    border-left: 6px solid #46C86B
}

.name-chart{
    color:#262626;
    font-size: 40px;
    font-weight: bold;
}

.value-chart{
    color:#5D5D5D;
    font-size: 22px;
    font-weight: bold;
}