* {
    font-family: 'Saira', sans-serif;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 120px;
    background-color: #5333A5!important;
}

.main{
    background-color: #5333A5;
    height: 27vh;
    position: relative;
    z-index: 1;
}

.loggedNavbar {
    position: absolute;
    z-index: -1;
    display: table;
    width: 100%;
    height: 27vh;
    color: white;
    background: url('../images/bg-logged.png') no-repeat bottom center scroll;
    opacity:0.7;
    background-position: 30% 45%;
    background-size: cover;
    margin:0!important;
}

.logo {
    width: 3.2em;
}

.logo-footer {
    width: 2.8em;
    height: 2.8em;
    margin-right: 10px;
}

.text-footer {
    font-size:25px;
    margin: 0!important;
    font-weight: bold;
}

.link-footer > a {
    font-size:23px;
    margin-left: 25px;
}

.link-footer a:hover {
    text-decoration: none;
}

.navbar-transparent {
    background-color:transparent!important;
    box-shadow: none!important;
    padding: 4vh 15vw 0 15vw;
}

.item-navbar {
    color: #fff!important;
    font-size: 1.5rem;
}

.item-navbar:hover {
    background-color:transparent;
}

.avatar {
    width: 150px;
}

.avatar-div {
    position: absolute;
    margin-right: -75px;
    right: 50vw;
    bottom: -75px;
    display: inline-block;
    color: #fff;
    overflow: hidden;
    z-index: 1;
    width: 150px;
    height: 150px;
    line-height: 150px;
    padding: 0;
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
    vertical-align: middle;
}

.icon-title {
    font-size:1.6rem;
    color: #8B64EC;
    margin-right: 1vw;
}

.menu-title {
    font-size:1.8rem;
    color: #8B64EC;
    font-weight: bold;
}

/* .progress .determinate {
    background-color: #A3FFA1!important;
} */

.progress {
    height:12px!important;
    margin:0!important;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: #8C63F2!important;
}

table.striped>tbody>tr:nth-child(even) {
    background-color: #271359!important;
}

tr.row {
    margin:0;
}

.mission-text {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

td, th {
    padding: 10px 30px!important;
}