.modal-login, .modal-missions{
    width:38vw!important;
    color:#8B64EC;
    border-top: 6px solid #8B64EC;
    border-radius: 10px!important;
    min-width:500px;
}

.modal-title{
    font-size: 35px;
    font-weight: 900;
}

.line{
    width:3.5vw;
    height:5px;
    background-color: #8B64EC;
}

.modal .modal-content {
    padding: 40px!important;
}

.fa-info-circle{
    color:#9C9C9C;
    font-size:30px;
}

.btn-default {
    font-size:18px!important;
    font-weight: bold;
}

.btn-account {
    background-color:#8B64EC!important;
}

.btn-without-account {
    background-color:#9C9C9C!important;
}

.fa-github{
    font-size:100px;
    margin: 8vh 0;
}

.reset-margin {
    margin:0!important;
}

.modal .modal-content {
    padding: 40px!important;
}

input:not([type]):focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly])+label,input[type=password]:not(.browser-default):focus:not([readonly])+label,input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=url]:not(.browser-default):focus:not([readonly])+label,input[type=time]:not(.browser-default):focus:not([readonly])+label,input[type=date]:not(.browser-default):focus:not([readonly])+label,input[type=datetime]:not(.browser-default):focus:not([readonly])+label,input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,input[type=tel]:not(.browser-default):focus:not([readonly])+label,input[type=number]:not(.browser-default):focus:not([readonly])+label,input[type=search]:not(.browser-default):focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label{
    color:#8B64EC!important
}
input:not([type]):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=url]:not(.browser-default):focus:not([readonly]),input[type=time]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]),input[type=datetime]:not(.browser-default):focus:not([readonly]),input[type=datetime-local]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),input[type=search]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]){
    border-bottom:1px solid #8B64EC!important;
    -webkit-box-shadow:0 1px 0 0 #8B64EC!important;
    box-shadow:0 1px 0 0 #8B64EC!important
}

.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
    color: rgba(0,0,0,0.3)!important;
    background-color: transparent;
}

.select-wrapper input.select-dropdown:focus{
    border-bottom: 2px solid #8B64EC!important;
}